<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism</title>
</head>
<body>
    <h1>Plagiarism Checker!</h1>
    <form action="/check" method="POST">
        Input first code:
        <textarea name="first" cols="30" rows="10"></textarea>
        <br><br>
        Input second code:
        <textarea name="second" cols="30" rows="10"></textarea>
        <br><br>
        <button type="submit">Check!</button>
    </form>
</body>
</html>